#divHeader
{
	height				: 35px;
}

#divMessage
{
	position			: absolute;
	top					: 50%;
	width				: 100%;
	text-align			: center;
	font-size			: 22px;
}
.menu_block {
	float: left;
	width: 150px;
	padding: 5px;
}
.item-name {
	color 				: #fff;
	background-color	: #1658A8;
}
html {
	height : 100%;
}
body {
	height				: 100%;
	padding				: 0px;
	background-color	: #eee;
	overflow			: hidden;
	background-color	: #dddbdb;
}
#stage {
	width				: 100%;
	height				: 100%;
	margin				: 0px;
	margin-top			: 32px;
	padding				: 0px;
	padding-bottom		: 100px;
	overflow			: auto;
	background-image	: -moz-linear-gradient(top, #fdfdfd, #dddbdb);
	background-image	: -ms-linear-gradient(top, #fdfdfd, #dddbdb);
	background-image	: -o-linear-gradient(top, #fdfdfd, #dddbdb);
	background-image	: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), to(#dddbdb));
	background-image	: -webkit-linear-gradient(top, #fdfdfd, #dddbdb);
	background-image	: linear-gradient(top, #fdfdfd, #dddbdb);

	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdfdfd, endColorstr=#dddbdb);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdfdfd, endColorstr=#dddbdb)";
	-webkit-overflow-scrolling: touch;
}
#menu {
	width				: 100%;
	text-align			: right;
}

#btnNoteAdd
{
	top					: 60px;
	right				: 30px;
	vertical-align		: middle;
	margin-right		: 5px;
	padding				: 10px;
}

#divNoteListContainer
{
	position			: absolute;
	bottom				: 10px;
	top					: 50px;
	left				: 10px;
	right				: 10px;
}

#lstNoteList {
	width				: 100%;
	height				: 100%;
	font-size			: 16px;
}

#divLinkTarget
{
	position			: absolute;
}

#divLinkDelete
{
	position			: absolute;
	display				: none;
}

#divLoader
{
	position			: absolute;
	top					: 45%;
	width				: 100%;
	text-align			: center;
	display				: none;
}

#divNoteListTitle
{
	background			: rgba(96, 105, 105, 0.67);
	color				: #fff;
	padding				: 5px;
	padding-left		: 20px;
	margin-top			: 10px;
	margin-bottom		: 5px;
}

#adv
{
	position			: fixed;
	left				: 50%;
	height				: 60px;
	width				: 468px;
	margin-left			:-234px;
	bottom				: 5px;
	z-index				: 990000001;
	display				: none;
}

.clsNoteContainer
{
	position			: relative;
	width				: 100%;
	height				: 100%;
	background-color	: #fff;
/*
	position			: absolute;
	min-width			: 200px;
	min-height			: 100px;
	opacity				: 0.9;
	filter				: alpha(opacity=90);
*/
}

.clsNoteGrid
{
	width				: 100%;
	height				: 100%;
	padding-left		: 5px;
	padding-right		: 5px;
}

.clsNoteTitle
{
	padding-left		: 8px;
	margin-top			: 30px;
	font-size			: 14px;
	min-height			: 35px;
	color				: #67A;
	background-color	: #ddd;
}

.clsNoteContent
{
	width				: 100%;
	height				: 100%;
	border				: none;
	font-size			: 12px;
	overflow			: hidden;
}

/*
.clsNoteCover
{
	width				: 100%;
	height				: 100%;
	position			: absolute;
	top					: 0px;
	background-color	: #fafafa;
	opacity				: 0.1;
	filter				: alpha(opacity=10);
}
*/

.clsNoteColorBar
{
	position			: absolute;
	width				: 10px;
	height				: 100%;
	top					: 0px;
	background-color	: #999;
	opacity				: 0.9;
}

.clsNoteMainContainer
{
	position			: absolute;
	width				: 100%;
/*
	width				: 100%;
	height				: 100%;
	background-color	: #fff;
	min-width			: 200px;
	min-height			: 100px;
	top					: -35px;
*/
}

.clsNoteMenuContainer
{
	position			: absolute;
	width				: 100%;
	height				: 35px;
	text-align			: right;
/*
	top					: -35px;
	position			: relative;
*/
}

.clsNoteCloudContainer
{
	display				: none;
	font-size			: 14px;
	text-align			: right;
	position			: absolute;
	top					: 5px;
	left				: 15px;
	-webkit-border-radius	: 5px;
	background-color		: #bbb;
	color					: #fff;
	padding-right			: 5px;
	padding-left			: 5px;
}

.clsNoteMenu
{
	position			: absolute;
	width				: 100%;
	height				: 35px;
	top					: -35px;
	display				: none;
	background-color	: #eee;
	text-align			: left;
}

.clsNoteFoldButton
{
	position			: absolute;
	right				: 30px;
	top					: 1px;
	cursor				: pointer;
}

.clsNoteDelete
{
	padding-right		: 5px;
	display				: none;
}

.clsNoteDeleteButton
{
	top					: 5px;
/*
	left				: 80px;
	width				: 30px;
	cursor				: pointer;
	color				: #666;
*/
}

.clsNoteEditButton
{
	left				: 40px;
}

.clsNoteOpenButton
{
	position			: absolute;
	top					: 100px;
	left				: 15px;
	width				: 98px;
	font-size			: 18px;
	padding				: 15px;
	vertical-align		: middle;
	display				: none;
}

.clsColorPicker
{
	width				: 30px;
	height				: 35px;
}

#sortable { list-style-type: none; margin: 0; padding: 0px; width: 100%; }
#sortable li { margin: 5px; margin-left: 10px; padding: 0px; float: left; width: 120px; height: 160px; font-size: 20px; text-align: center; }

